<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="outer-row" th:fragment="header">
		<div class="container">
			<div class="navbar-header">
				<div class="col-lg-4 col-md-3 col-md-offset-1 col-xs-3">
					<a class="navbar-brand fade-color"></a>
				</div>
			</div>
			<div
				class="collapse navbar-collapse navbar-ex1-collapse navbar-right">
				<ul class="nav navbar-nav">
					<li><span class="navbar-border"></span> <a
						class="navbar-padded-buttons fade-color">Case studies</a></li>
					<li><span class="navbar-border"></span> <a
						class="navbar-padded-buttons fade-color">Capabilities</a></li>
					<li><span class="navbar-border"></span> <a
						class="navbar-padded-buttons fade-color">Careers</a></li>
					<li><span class="navbar-border"></span> <a
						class="navbar-padded-buttons fade-color">About us</a></li>
					<li><span class="navbar-border"></span> <a
						class="navbar-padded-buttons fade-color">Contact us</a></li>
				</ul>
			</div>
		</div>
		<div class="container" style="margin-top: 40px">
			<div class="row jumbotron contactus-text">
				<div class="col-md-8 col-md-offset-2">
					<div class="col-md-12">
						<h1>Contact us</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
