<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="header">
		<div>
			<div>
				<div>
					<a></a>
				</div>
			</div>
			<div>
				<ul>
					<li><span></span> <a>Case studies</a></li>
					<li><span></span> <a>Capabilities</a></li>
					<li><span></span> <a>Careers</a></li>
					<li><span></span> <a>About us</a></li>
					<li><span></span> <a>Contact us</a></li>
				</ul>
			</div>
		</div>
		<div>
			<div>
				<div>
					<div>
						<h1>Contact us</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
