<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Contact Us</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="css/solnet.css" />

<script src="js/angular.min.js"></script>
</head>
<body>
	<div th:replace="header :: header"></div>

	<div class="container">
		<div class="row contactus-text grey-header">
			<div class="col-md-8 col-md-offset-2">

				<form action="#" th:action="@{/contact}" th:object="${contactForm}"
					method="post">
					<table>
						<tr>
							<td>First name</td>
							<td><input type="text" th:field="*{firstname}" /></td>
							<td th:if="${#fields.hasErrors('firstname')}"
								th:errors="*{firstname}" style="color: red;" />
						</tr>
						<tr>
							<td>Last name</td>
							<td><input type="text" th:field="*{lastname}" /></td>
							<td th:if="${#fields.hasErrors('lastname')}"
								th:errors="*{lastname}" style="color: red;" />
						</tr>
						<tr>
							<td>Contact email</td>
							<!--
							<td><input type="text" th:field="*{email}" /></td>
							<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								style="color: red;" />
								-->
							<td><input type="email" th:field="*{email}" /></td>
						</tr>
						<tr>
							<td>Phone no.</td>
							<td><input type="text" th:field="*{phone}" /></td>
							<td th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"
								style="color: red;" />
						</tr>
						<tr>
							<td>Company</td>
							<td><input type="text" th:field="*{company}" /></td>
							<td th:if="${#fields.hasErrors('company')}"
								th:errors="*{company}" style="color: red;" />
						</tr>
						<tr>
							<td>Message</td>
							<td><textarea th:field="*{message}" class="full-textarea"
									rows="10"></textarea></td>
							<td th:if="${#fields.hasErrors('message')}"
								th:errors="*{message}" style="color: red;" />
						</tr>
						<tr>
							<td colspan="2"><button type="reset" style="float: right;">Reset</button>
								<button type="submit" style="float: right;">Submit</button></td>
						</tr>
					</table>
				</form>

			</div>
		</div>
	</div>
</body>
</html>