<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Salesforce data feeding demo</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/bootstrapvalidator.min.css" />
<link rel="stylesheet" href="css/solnet.css" />

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrapvalidator.min.js"></script>
<script src="js/app.js"></script>

<script src="js/angular.min.js"></script>

</head>
<body>
	<div class="outer-row">
		<div class="container">
			<div class="navbar-header">
				<div class="col-lg-4 col-md-3 col-md-offset-1 col-xs-3">
					<a class="navbar-brand fade-color"></a>
				</div>
			</div>
			<div class="collapse navbar-collapse navbar-ex1-collapse navbar-right">
				<ul class="nav navbar-nav">
					<li><span class="navbar-border"></span> <a class="navbar-padded-buttons fade-color">Case studies</a></li>
					<li><span class="navbar-border"></span> <a class="navbar-padded-buttons fade-color">Capabilities</a></li>
					<li><span class="navbar-border"></span> <a class="navbar-padded-buttons fade-color">Careers</a></li>
					<li><span class="navbar-border"></span> <a class="navbar-padded-buttons fade-color">About us</a></li>
					<li><span class="navbar-border"></span> <a class="navbar-padded-buttons fade-color">Contact us</a></li>
				</ul>
			</div>
		</div>
	</div>

 <div class="container">

 	<form id="cForm" action="#" th:action="@{/contact}" th:object="${contactForm}" class="form-horizontal" method="post">

 		<div class="form-group">
 			<div class="col-md-4"></div>
 			<div class="col-md-4"><h1 class="contactus-text">Contact us</h1></div>
 			<div class="col-md-4"></div>
    	</div>
 		
 		<div class="form-group has-feedback">
 			<label for="firstname" class="control-label col-md-4">First Name:</label>
 			<div class="col-md-4">
 				<input type="text" class="form-control" id="firstname" name="firstname" placeholder="First name" th:field="*{firstname}" />
 				<span id="fname" class="glyphicon form-control-feedback"></span>
 			</div>
 			<div class="col-md-4"></div>
 		</div>


 		<div class="form-group has-feedback">
 			<label for="lastname" class="control-label col-md-4">Last name:</label>
 			<div class="col-md-4">
 				<input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name" th:field="*{lastname}" />
 				<span id="lname" class="glyphicon form-control-feedback"></span>
 			</div>
 			<div class="col-md-4"></div>
 		</div>

 		<div class="form-group has-feedback">
 			<label for="email" class="control-label col-md-4">Contact email:</label>
 			<div class="col-md-4">
 				<input type="email" class="form-control" id="email" name="email" placeholder="Email" th:field="*{email}" />
 				<span id="email" class="glyphicon form-control-feedback"></span>
 			</div>
 			<div class="col-md-4"></div>
 		</div> 	

 		<div class="form-group has-feedback">
 			<label for="phone" class="control-label col-md-4">Phone no.</label>
 			<div class="col-md-4">
 				<input type="text" class="form-control" id="phone" name="phone" placeholder="phone number" th:field="*{phone}" />
 				<span id="pnumber" class="glyphicon form-control-feedback"></span>
 			</div>
 			<div class="col-md-4"></div>
 		</div>

 		<div class="form-group has-feedback">
 			<label for="company" class="control-label col-md-4">Company:</label>
 			<div class="col-md-4">
 				<input type="text" class="form-control" id="company" name="company" placeholder="Company" th:field="*{company}" />
 				<span id="company" class="glyphicon form-control-feedback"></span>
 			</div>
 			<div class="col-md-4"></div>
 		</div>

 		<div class="form-group has-feedback">
 			<label for="message" class="control-label col-md-4">Message:</label>
 			<div class="col-md-4">
 				<textarea class="form-control" id="message" name="message" rows="8" placeholder="Message" th:field="*{message}" />
 				<span id="message" class="glyphicon form-control-feedback"></span>
 			</div>
 			<div class="col-md-4"></div>
 		</div> 	 				

 		<div class="form-group">
 			<div class="col-md-offset-4 col-md-8">
 				<button type="submit" class="btn btn-success">Submit</button>
 				<button type="reset" class="btn btn-default">Reset</button>
 			</div>
 		</div>
 	</form>

 </div>

</body>
</html>